img{
	width: 100%;
}
.login {
    height: 1000px;
    width: 100%;
    background-image:url("Newspaper.png");
    position: relative;
}
.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login_box .left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;
  
}
.login_box .right{
  width: 59%;
  height: 100%  
}
.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}
.left .top_link{
  height: 20px
}
.left .contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.left h3{
  text-align: center;
  margin-bottom: 40px;
  font-family: Georgia, serif;
  font-size: 250%;
}
.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 110%;
}
.left{
	background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    cursor: pointer;
    margin-top: 120px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}



.right {
	background: linear-gradient(212.38deg, rgba(22, 99, 190, 1) 0%, rgba(27, 124, 237, 1) 100%),url(https://img.republicworld.com/republic-prod/stories/promolarge/xhdpi/6yhtbp5s6npfw8td_1589275289.jpeg) no-repeat;
    background-size: cover;
    color: #fff;
	position: relative;
}

.right .right-text{
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
}
.right-text h2{
  display: block;
  width: 100%;
  text-align: center;
  position: center;
  transform: translate(0%, -150%);
  font-size: 50px;
  font-weight: 500;
}
.right-text h5{
  display: block;
  width: 100%;
  text-align: center;
  position: center;
  transform: translate(0%, -400%);
  font-size: 19px;
  font-weight: 400;
}

.right .right-inductor{
  position: absolute;
  width: 70px;
  height: 7px;
  background: #fff0;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);
}

.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}
.signup{
    display: flex;
    float: right;
    flex-direction: column;
    margin:800px 500px 50px 55px;
    font-size=50px;
    
}
.signup > form > button{
    border: none;
    padding: 30px 100px;
    border-radius: 8px;
    display: block;
    margin-top: 15px;
    float: right;
    background: #11daae;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size=50px;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(242, 57, 127, 0.7);
    -moz-box-shadow: 0px 9px 15px -11px rgba(175, 70, 189, 0.71);
    box-shadow: 0px 9px 15px -11px rgba(242, 57, 127, 0.7);
}
.signup > form > h5{
    font-weight: bold;
    float: left;
    color: white;
    margin-right: 15px;
    font-size=50px;
}